<nav id="big_menu">
    <ul>
        <li>
            <a href="#"><span>Entreprises</span></a>
            <div class="sub_menu">
                <div class="menu-featured menu-featured-image">
                    <div class="image">
                        <div class="lazy_image"
                             style="background-image: url('{{ img_url }}placeholder.gif');"
                             data-lazy-src="{{ img_url }}menu-featured.png">
                            <noscript>
                                <img src="{{ img_url }}menu-featured.png" alt="menu featured"/>
                            </noscript>
                        </div>
                    </div>
                </div>
                <ul>
                    <li><a href="#">Nous vous accompagnons</a></li>
                    <li><a href="#">Nous trouver</a></li>
                </ul>
                <ul>
                    <li><a href="#">Recruter en alternance</a></li>
                    <li><a href="#">Former ses collaborateurs</a></li>
                    <li><a href="#">inhni Conseil</a></li>
                </ul>
            </div>
        </li>
        <li class="current">
            <a href="#"><span>Salariés</span></a>
            <div class="sub_menu">
                <div class="menu-featured menu-featured-image">
                    <div class="image">
                        <div class="lazy_image"
                             style="background-image: url('{{ img_url }}placeholder.gif');"
                             data-lazy-src="{{ img_url }}menu-featured.png">
                            <noscript>
                                <img src="{{ img_url }}menu-featured.png" alt="menu featured"/>
                            </noscript>
                        </div>
                    </div>
                </div>
                <ul>
                    <li><a href="#">Nous vous accompagnons</a></li>
                    <li class="current"><a href="#">Comment financer sa formation ?</a></li>
                    <li><a href="#">Zoom sur le CPF</a></li>
                </ul>
                <ul>
                    <li><a href="#">Nous trouver</a></li>
                    <li><a href="#">Découvrir les formations</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#"><span>Jeunes</span></a>
            <div class="sub_menu">
                <div class="menu-featured">
                    <span>Révélez<br/>votre talent et trouvez<br/>une orientation</span>
                </div>
                <ul>
                    <li><a href="#">Pourquoi choisir l'alternance ?</a></li>
                    <li><a href="#">Découvrir les métiers</a></li>
                    <li><a href="#">Nous trouver</a></li>
                </ul>
                <ul>
                    <li><a href="#">Du CAP au Bac</a></li>
                    <li><a href="#">Du Bac +2 au Bac +5</a></li>
                    <li><a href="#">Offres en alternances à pourvoir</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#"><span>Prescripteurs</span></a>
            <div class="sub_menu">
                <div class="menu-featured"><span>Révélez<br/>votre talent et trouvez<br/>une orientation</span></div>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit amet ?</a></li>
                    <li><a href="#">Nous trouver</a></li>
                </ul>
                <ul>
                    <li><a href="#">Découvrir les métiers</a></li>
                    <li><a href="#">Découvrir les formations</a></li>
                    <li><a href="#">Offres en alternances à pourvoir</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#"><span>Demandeurs d'emploi</span></a>
            <div class="sub_menu">
                <div class="menu-featured"><span>Révélez<br/>votre talent et trouvez<br/>une orientation</span></div>
                <ul>
                    <li><a href="#">Intégrer le secteur de la propreté</a></li>
                    <li><a href="#">Nous trouver</a></li>
                </ul>
                <ul>
                    <li><a href="#">Découvrir les formations</a></li>
                    <li><a href="#">Comment financer sa formation</a></li>
                    <li><a href="#">Offres en alternances à pourvoir</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>