<div class="formation-result alaune-result">
    <h3 class="title-11 blue-polygon">
        <span>À la une (2)</span>
    </h3>
    <div class="list-result">
        <article class="item">
            <div class="image">
                <a class="lazy_responsive_image"
                   href="#"
                   title=""
                   style="background-image: url('{{ img_url }}placeholder.gif');"
                   data-lazy-src-481="{{ img_url }}formation3.png">
                    <noscript>
                        <img src="{{ img_url }}formation3.jpg" alt=""/>
                    </noscript>
                </a>
            </div>
            <div class="content">
                <ul class="tags">
                    <li>
                        <span>Actualité</span>
                    </li>
                </ul>
                <h4 class="title-12">
                    <a href="#" title="Consulter l'article">
                        Chiffre d’affaires du troisième trimestre 2017/2018
                    </a>
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget dapibus libero. Maecenas aliquam ante dapibus purus pulvinar, eget egestas tortor varius. Quisque luctus dui id ex porttitor vehicula. Cras varius ipsum nec sem facilisis pretium. Pellentesque finibus malesuada vestibulum. Sed vulputate orci nec consequat semper. Sed quis nisl eros. Integer ac ipsum non erat euismod malesuada nec eget neque. Phasellus lobortis posuere nisl id […]
                </p>
                <span class="link-arrow link-arrow-blue fix">
                                <a class="link" href="#" title="Continuer la lecture">Voir l'article</a>
                            </span>
            </div>
        </article>
        <article class="item">
            <div class="image">
                <a class="lazy_responsive_image"
                   href="#"
                   title=""
                   style="background-image: url('{{ img_url }}placeholder.gif');"
                   data-lazy-src-481="{{ img_url }}formation3.png">
                    <noscript>
                        <img src="{{ img_url }}formation3.jpg" alt=""/>
                    </noscript>
                </a>
            </div>
            <div class="content">
                <ul class="tags">
                    <li>
                        <span>Offres d’emploi</span>
                    </li>
                </ul>
                <h4 class="title-12">
                    <a href="#" title="Consulter l'article">
                        Le groupe sii signataire du pacte mondial des nations unies
                    </a>
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget dapibus libero. Maecenas aliquam ante dapibus purus pulvinar, eget egestas tortor varius. Quisque luctus dui id ex porttitor vehicula. Cras varius ipsum nec sem facilisis pretium. Pellentesque finibus malesuada vestibulum. Sed vulputate orci nec consequat semper. Sed quis nisl eros. Integer ac ipsum non erat euismod malesuada nec eget neque. Phasellus lobortis posuere nisl id […]
                </p>
                <span class="link-arrow link-arrow-blue fix">
                                <a class="link" href="#" title="Continuer la lecture">Voir l'article</a>
                            </span>
            </div>
        </article>
    </div>
</div>
