<section class="banner-slider">
    <div class="wrap-banner">
        <div
                class="responsive_image item"
                data-src-0-480="{{ img_url }}search-formation-mobile.jpg"
                data-src-481-768="{{ img_url }}search-formation-tablet.jpg"
                data-src-768-1024="{{ img_url }}search-formation-laptop.jpg"
                data-src-1025="{{ img_url }}search-formation.jpg"
        >
            <noscript>
                <img src="{{ img_url }}search-formation.jpg" alt="Chercher une formation"/>
            </noscript>
            <div class="content">
                <div class="wrap">
                    <p class="title"><span>Main title</span></p>
                    <div class="detail">
                        <p>Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lap Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si </p>
                        <p>Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lap Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lap Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lap…</p>
                    </div>
                    <a class="btn" href="#" title="Voir toutes les offres d'emploi">
                        <span class="txt">Toutes les offres d'emploi</span>
                    </a>
                </div>
            </div>
        </div>
        <div
                class="responsive_image item"
                data-src-0-480="{{ img_url }}search-formation-mobile.jpg"
                data-src-481-768="{{ img_url }}search-formation-tablet.jpg"
                data-src-768-1024="{{ img_url }}search-formation-laptop.jpg"
                data-src-1025="{{ img_url }}search-formation.jpg"
        >
            <noscript>
                <img src="{{ img_url }}search-formation.jpg" alt="Chercher une formation"/>
            </noscript>
            <div class="content">
                <div class="wrap">
                    <p class="title"><span>Main title</span></p>
                    <div class="detail">
                        <p>Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lap Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si </p>
                        <p>Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lap Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lap Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lap…</p>
                    </div>
                    <a class="btn" href="#" title="Voir toutes les offres d'emploi">
                        <span class="txt">Toutes les offres d'emploi</span>
                    </a>
                </div>
            </div>
        </div>
        <div
                class="responsive_image item"
                data-src-0-480="{{ img_url }}search-formation-mobile.jpg"
                data-src-481-768="{{ img_url }}search-formation-tablet.jpg"
                data-src-768-1024="{{ img_url }}search-formation-laptop.jpg"
                data-src-1025="{{ img_url }}search-formation.jpg"
        >
            <noscript>
                <img src="{{ img_url }}search-formation.jpg" alt="Chercher une formation"/>
            </noscript>
            <div class="content">
                <div class="wrap">
                    <p class="title"><span>Main title</span></p>
                    <div class="detail">
                        <p>Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lap Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si </p>
                        <p>Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lap Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lap Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lap…</p>
                    </div>
                    <a class="btn" href="#" title="Voir toutes les offres d'emploi">
                        <span class="txt">Toutes les offres d'emploi</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {#{% include '_search-formation.twig' %}#}
</section>
