<div class="formation-result formation-result-2">
    <div class="list-result">
        <article class="item">
            <div class="image">
                <a class="lazy_responsive_image"
                   href="#"
                   title=""
                   style="background-image: url('{{ img_url }}placeholder.gif');"
                   data-lazy-src-481="{{ img_url }}formation3.png">
                    <noscript>
                        <img src="{{ img_url }}formation3.jpg" alt=""/>
                    </noscript>
                </a>
            </div>
            <div class="content">
                <h4 class="title-12">
                    <a href="#" title="Consulter l'article">
                        Cycle droit du travail - Nouveaux entrants dans le secteur
                    </a>
                </h4>
                <p class="promotion">Code formation<span>- CY417</span></p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget dapibus libero. Maecenas aliquam ante dapibus purus pulvinar, eget egestas tortor varius. Quisque luctus dui id ex porttitor vehicula. Cras varius ipsum nec […]
                </p>
                <ul class="present-result">
                    <li>
                        <p><span class="des">Durée : </span>1 jour</p>
                    </li>
                    <li>
                        <p><span class="des">Public visé : </span>Lorem ipsum sit amet</p>
                    </li>
                </ul>
                <div class="wrap-btn">
                    <span class="link-arrow link-arrow-blue link-arrow-align-right fix">
                        <a class="link" href="#" title="Continuer la lecture">Voir la fiche</a>
                    </span>
                </div>
            </div>
        </article>
        <article class="item">
            <div class="image">
                <a class="lazy_responsive_image"
                   href="#"
                   title=""
                   style="background-image: url('{{ img_url }}placeholder.gif');"
                   data-lazy-src-481="{{ img_url }}formation3.png">
                    <noscript>
                        <img src="{{ img_url }}formation3.jpg" alt=""/>
                    </noscript>
                </a>
            </div>
            <div class="content">
                <h4 class="title-12">
                    <a href="#" title="Consulter l'article">
                        Cycle droit du travail - Nouveaux entrants dans le secteur
                    </a>
                </h4>
                <p class="promotion">Code formation<span>- CY417</span></p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget dapibus libero. Maecenas aliquam ante dapibus purus pulvinar, eget egestas tortor varius. Quisque luctus dui id ex porttitor vehicula. Cras varius ipsum nec […]
                </p>
                <ul class="present-result">
                    <li>
                        <p><span class="des">Durée : </span>1 jour</p>
                    </li>
                    <li>
                        <p><span class="des">Public visé : </span>Lorem ipsum sit amet</p>
                    </li>
                </ul>
                <div class="wrap-btn">
                    <span class="link-arrow link-arrow-blue link-arrow-align-right fix">
                        <a class="link" href="#" title="Continuer la lecture">Voir la fiche</a>
                    </span>
                </div>
            </div>
        </article>
        <article class="item">
            <div class="image">
                <a class="lazy_responsive_image"
                   href="#"
                   title=""
                   style="background-image: url('{{ img_url }}placeholder.gif');"
                   data-lazy-src-481="{{ img_url }}formation3.png">
                    <noscript>
                        <img src="{{ img_url }}formation3.jpg" alt=""/>
                    </noscript>
                </a>
            </div>
            <div class="content">
                <h4 class="title-12">
                    <a href="#" title="Consulter l'article">
                        Cycle droit du travail - Nouveaux entrants dans le secteur
                    </a>
                </h4>
                <p class="promotion">Code formation<span>- CY417</span></p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget dapibus libero. Maecenas aliquam ante dapibus purus pulvinar, eget egestas tortor varius. Quisque luctus dui id ex porttitor vehicula. Cras varius ipsum nec […]
                </p>
                <ul class="present-result">
                    <li>
                        <p><span class="des">Durée : </span>1 jour</p>
                    </li>
                    <li>
                        <p><span class="des">Public visé : </span>Lorem ipsum sit amet</p>
                    </li>
                </ul>
                <div class="wrap-btn">
                    <span class="link-arrow link-arrow-blue link-arrow-align-right fix">
                        <a class="link" href="#" title="Continuer la lecture">Voir la fiche</a>
                    </span>
                </div>
            </div>
        </article>
        <article class="item">
            <div class="image">
                <a class="lazy_responsive_image"
                   href="#"
                   title=""
                   style="background-image: url('{{ img_url }}placeholder.gif');"
                   data-lazy-src-481="{{ img_url }}formation3.png">
                    <noscript>
                        <img src="{{ img_url }}formation3.jpg" alt=""/>
                    </noscript>
                </a>
            </div>
            <div class="content">
                <h4 class="title-12">
                    <a href="#" title="Consulter l'article">
                        Cycle droit du travail - Nouveaux entrants dans le secteur
                    </a>
                </h4>
                <p class="promotion">Code formation<span>- CY417</span></p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget dapibus libero. Maecenas aliquam ante dapibus purus pulvinar, eget egestas tortor varius. Quisque luctus dui id ex porttitor vehicula. Cras varius ipsum nec […]
                </p>
                <ul class="present-result">
                    <li>
                        <p><span class="des">Durée : </span>1 jour</p>
                    </li>
                    <li>
                        <p><span class="des">Public visé : </span>Lorem ipsum sit amet</p>
                    </li>
                </ul>
                <div class="wrap-btn">
                    <span class="link-arrow link-arrow-blue link-arrow-align-right fix">
                        <a class="link" href="#" title="Continuer la lecture">Voir la fiche</a>
                    </span>
                </div>
            </div>
        </article>
    </div>
</div>
