<div class="formation-result">
    <h3 class="title-11 blue-polygon">
        <span>Formations (2)</span>
    </h3>
    <div class="list-result">
        <article class="item">
            <div class="image">
                <a class="lazy_responsive_image"
                   href="#"
                   title=""
                   style="background-image: url('{{ img_url }}placeholder.gif');"
                   data-lazy-src-481="{{ img_url }}formation3.png">
                    <noscript>
                        <img src="{{ img_url }}formation3.jpg" alt=""/>
                    </noscript>
                </a>
            </div>
            <div class="content">
                <ul class="tags">
                    <li>
                        <span>Cycle Métier</span>
                    </li>
                </ul>
                <h4 class="title-12">
                    <a href="#" title="Consulter l'article">
                        Cycle droit du travail - Nouveaux entrants dans le secteur
                    </a>
                </h4>
                <ul class="present-result">
                    <li>
                        <p><span class="des">Durée : </span>1 jour</p>
                    </li>
                    <li>
                        <p><span class="des">Public visé : </span>Lorem ipsum sit amet</p>
                    </li>
                    <li>
                        <p><span class="des">Code formation : </span>CY705</p>
                    </li>
                </ul>
                {#<p>#}
                    {#Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget dapibus libero. Maecenas aliquam ante dapibus purus pulvinar, eget egestas tortor varius. Quisque luctus dui id ex porttitor vehicula. Cras varius ipsum nec […]#}
                {#</p>#}
                <span class="link-arrow link-arrow-blue fix">
                                <a class="link" href="#" title="Continuer la lecture">Voir la fiche</a>
                            </span>
            </div>
        </article>
        <article class="item">
            <div class="image">
                <a class="lazy_responsive_image"
                   href="#"
                   title=""
                   style="background-image: url('{{ img_url }}placeholder.gif');"
                   data-lazy-src-481="{{ img_url }}formation3.png">
                    <noscript>
                        <img src="{{ img_url }}formation3.jpg" alt=""/>
                    </noscript>
                </a>
            </div>
            <div class="content">
                <ul class="tags">
                    <li>
                        <span>Sécurité/Habilitation/Travaux en hauteur</span>
                    </li>
                </ul>
                <h4 class="title-12">
                    <a href="#" title="Consulter l'article">
                        Certificat d’Aptitude à la Conduite en Sécurité CACESS® - PEMP de type 1 et 3 (R386) - Conducteurs confirmés
                    </a>
                </h4>
                <ul class="present-result">
                    <li>
                        <p><span class="des">Durée : </span>1 jour</p>
                    </li>
                    <li>
                        <p><span class="des">Public visé : </span>Lorem ipsum sit amet</p>
                    </li>
                    <li>
                        <p><span class="des">Code formation : </span>CY705</p>
                    </li>
                </ul>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget dapibus libero. Maecenas aliquam ante dapibus purus pulvinar, eget egestas tortor varius. Quisque luctus dui id ex porttitor vehicula. Cras varius ipsum nec […]
                </p>
                <span class="link-arrow link-arrow-blue fix">
                                <a class="link" href="#" title="Continuer la lecture">Voir la fiche</a>
                            </span>
            </div>
        </article>
    </div>
</div>
